# Connecting to Fatboy  May 4th 2015

Fatboy is a Windows machine sitting on the 2nd floor of the PAB. It runs Microsoft SQL Server 2008, which currently holds the primary 20TB CATSIM databases.

There are currently two separate and distinct problems: 
    (1) network access (private vs. private ip, port, firewalls) and
    (2) sql server authentication from the stack.
 
They are both being addressed a the same time because the improved sql server authentication also makes it simpler to connect to the database through an ssh tunnel.

## Problem 1: Network Access

Fatboy had been on a private IP address (172...) until a year ago. Up until that point, it was only accessible on the PAB wired network or through an ssh tunnel.  We moved it to a public IP address when collaborators without UW NETIDs wanted access. The protocol for this past year was to send us the source ip address which got added to the whitelist on a windows firewall. This was terrible for all people and machines involved.

Problems:
  * The windows firewall can't keep up with the incoming traffic. 6% of incoming connection attempts time out. 
  * Source ip addresses change. It was annoying to only be able to access from some subnets.  
  * Some institutions block port 1433.
  
**We are returning to a standard authentication method: ssh. **
See "Demo: Off Campus" section below. 

But first, let's configure our authentication utility:

## Problem 2: SQL SERVER Authentication

This problem is unrelated to the network access. The code in sim_catUtils included some hard coded connection strings. (Google fatboy.npl.washington.edu, and you will see our passwords in plain text). This account does not have write access, which is why our databases haven't been deleted yet. 

The DM stack includes a utility for hiding passwords in [daf.persistence.dbAuth](https://lsst-web.ncsa.illinois.edu/~buildbot/doxygen/x_masterDoxyDoc/classlsst_1_1daf_1_1persistence_1_1_db_auth.html)

After [tickets/SIM-1092](https://jira.lsstcorp.org/browse/SIM-1092) is merged you will need to add two configuration files to your home directory.  **dbAuth** will look for these files to retrieve your username and password for your databases. 


First, Let's come up with a new password.

Now, you must create **two files**  under your home directory, in a sub-directory called <code> $HOME/.lsst</code>.

#### 1) <code> $HOME/.lsst/db-auth.paf </code>


The first is a DB authorization file to present login credentials to whatever DB server is being used. To do this, create a <code>$HOME/.lsst/db-auth.paf</code> file with the following content:

<code>
database: {
    authInfo: {
        host: fatboy.npl.washington.edu
        port: 1433
        user: LSST-2
        password: [Our secret Password]
    }

    authInfo: {    
        host: fatboy.npl.washington.edu
        port: 3333
        user: LSST-2
        password: [Our secret Password]
    }
    authInfo: {
        host: localhost
        port: 5555
        user: LSST-2
        password: [Our secret Password]
    }
}
</code>
    
Authorization information for more than one DB server may be included.

#### 2)  <code> $HOME/.lsst/db-auth.py </code>


The config file: <code> $HOME/.lsst/db-auth.py </code> has content that is almost identical to the above policy file:

root.database.authInfo["auth1"].host = "fatboy.npl.washington.edu"
root.database.authInfo["auth1"].user = "LSST-2"
root.database.authInfo["auth1"].password = "passwordInQuotes"
root.database.authInfo["auth1"].port = 1433

root.database.authInfo["auth2"].host = "fatboy.npl.washington.edu"
root.database.authInfo["auth2"].user = "LSST-2"
root.database.authInfo["auth2"].password = "passwordInQuotes"
root.database.authInfo["auth2"].port = 3333

root.database.authInfo["auth3"].host = "localhost"
root.database.authInfo["auth3"].user = "LSST-2"
root.database.authInfo["auth3"].password = "passwordInQuotes"
root.database.authInfo["auth3"].port = 5555

The directory <code>$HOME/.lsst</code> must have 700 permissions and these files must each have 600 permissions (go-rwx in all cases). 

<code>
$> cd $HOME
$> chmod 700 .lsst
$> chmod 600 .lsst/db-auth.py 
$> chmod 600 .lsst/db-auth.paf
</code>

# CATSIM Demo

### On Campus

In [9]:
from lsst.sims.catUtils.baseCatalogModels import GalaxyAgnObj
from lsst.sims.utils import ObservationMetaData

obsMetadata = ObservationMetaData(unrefractedRA=45., unrefractedDec=1.0,
                                          boundType='circle', boundLength=0.05,
                                          mjd=57086)
galaxyAgnDB = GalaxyAgnObj(verbose=True)
#result = galaxyAgnDB.query_columns(['raJ2000', 'decJ2000'], 
#                                   obs_metadata=obsMetadata)

2015-05-04 12:21:36,175 INFO sqlalchemy.engine.base.Engine select @@version

INFO:sqlalchemy.engine.base.Engine:select @@version

2015-05-04 12:21:36,176 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:21:36,227 INFO sqlalchemy.engine.base.Engine
            SELECT default_schema_name FROM
            sys.database_principals
            WHERE principal_id=database_principal_id()

INFO:sqlalchemy.engine.base.Engine:
            SELECT default_schema_name FROM
            sys.database_principals
            WHERE principal_id=database_principal_id()

2015-05-04 12:21:36,228 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:21:36,335 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2015-05-04 12:21:36,336 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:21:36,429 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1

2015-05-04 12:21:36,430 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:21:37,291 INFO sqlalchemy.engine.base.Engine SELECT [COLUMNS_1].[TABLE_SCHEMA], [COLUMNS_1].[TABLE_NAME], [COLUMNS_1].[COLUMN_NAME], [COLUMNS_1].[IS_NULLABLE], [COLUMNS_1].[DATA_TYPE], [COLUMNS_1].[ORDINAL_POSITION], [COLUMNS_1].[CHARACTER_MAXIMUM_LENGTH], [COLUMNS_1].[NUMERIC_PRECISION], [COLUMNS_1].[NUMERIC_SCALE], [COLUMNS_1].[COLUMN_DEFAULT], [COLUMNS_1].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS] AS [COLUMNS_1]
WHERE [COLUMNS_1].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [COLUMNS_1].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) ORDER BY [COLUMNS_1].[ORDINAL_POSITION]

INFO:sqlalchemy.engine.base.Engine:SELECT [COLUMNS_1].[TABLE_SCHEMA], [COLUMNS_1].[TABLE_NAME], [COLUMNS_1].[COLUMN_NAME], [COLUMNS_1].[IS_NULLABLE], [COLUMNS_1].[DATA_TYPE], [COLUMNS_1].[ORDINAL_POSITION], [COLUMNS_1].[CHARACTER_MAXIMUM_LENGTH], [COLUMNS_1].[NUMERIC_PRECISION], [COLUMNS_1].[NUMERIC_SCALE], [COLUMNS_1].[COLUMN_DEFAULT], [COLUMNS_1].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS] AS [COLUMNS_1]
WHERE [COLUMNS_1].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [COLUMNS_1].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) ORDER BY [COLUMNS_1].[ORDINAL_POSITION]

2015-05-04 12:21:37,292 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:21:37,426 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = 'galaxy', @table_owner = 'dbo'

INFO:sqlalchemy.engine.base.Engine:sp_columns @table_name = 'galaxy', @table_owner = 'dbo'

2015-05-04 12:21:37,427 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:21:37,576 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [TABLE_CONSTRAINTS_1].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS] AS [TABLE_CONSTRAINTS_1]
WHERE [TABLE_CONSTRAINTS_1].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [TABLE_CONSTRAINTS_1].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max))

INFO:sqlalchemy.engine.base.Engine:SELECT [C].[COLUMN_NAME], [TABLE_CONSTRAINTS_1].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS] AS [TABLE_CONSTRAINTS_1]
WHERE [TABLE_CONSTRAINTS_1].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [TABLE_CONSTRAINTS_1].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max))

2015-05-04 12:21:37,578 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:21:37,689 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [REFERENTIAL_CONSTRAINTS_1].[MATCH_OPTION], [REFERENTIAL_CONSTRAINTS_1].[UPDATE_RULE], [REFERENTIAL_CONSTRAINTS_1].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS] AS [REFERENTIAL_CONSTRAINTS_1]
WHERE [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) AND [C].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[UNIQUE_CONSTRAINT_NAME] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]

INFO:sqlalchemy.engine.base.Engine:SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [REFERENTIAL_CONSTRAINTS_1].[MATCH_OPTION], [REFERENTIAL_CONSTRAINTS_1].[UPDATE_RULE], [REFERENTIAL_CONSTRAINTS_1].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS] AS [REFERENTIAL_CONSTRAINTS_1]
WHERE [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) AND [C].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[UNIQUE_CONSTRAINT_NAME] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]

2015-05-04 12:21:37,691 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:21:37,764 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = %(tabname)s and sch.name=%(schname)s and ind.is_primary_key=0

INFO:sqlalchemy.engine.base.Engine:select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = %(tabname)s and sch.name=%(schname)s and ind.is_primary_key=0

2015-05-04 12:21:37,765 INFO sqlalchemy.engine.base.Engine {'tabname': 'galaxy', 'schname': u'dbo'}

INFO:sqlalchemy.engine.base.Engine:{'tabname': 'galaxy', 'schname': u'dbo'}

2015-05-04 12:21:37,821 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=%(tabname)s and sch.name=%(schname)s

INFO:sqlalchemy.engine.base.Engine:select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=%(tabname)s and sch.name=%(schname)s

2015-05-04 12:21:37,822 INFO sqlalchemy.engine.base.Engine {'tabname': 'galaxy', 'schname': u'dbo'}

INFO:sqlalchemy.engine.base.Engine:{'tabname': 'galaxy', 'schname': u'dbo'}
Database column, htmid, overridden in self.columns... Skipping default assignment.
Database column, galid, overridden in self.columns... Skipping default assignment.
Database column, ra, overridden in self.columns... Skipping default assignment.
Database column, dec, overridden in self.columns... Skipping default assignment.
Database column, redshift, overridden in self.columns... Skipping default assignment.
Database column, rad_vel, overridden in self.columns... Skipping default assignment.
Database column, u_ab, overridden in self.columns... Skipping default assignment.
Database column, g_ab, overridden in self.columns... Skipping default assignment.
Database column, r_ab, overridden in self.columns... Skipping default assignment.
Database column, i_ab, overridden in self.columns... Skipping default assignment.
Database column, z_ab, overridden in self.columns... Skipping default assignment.
Database column, y_ab, overridden in self.columns... Skipping default assignment.
Database column, sedid_bulge, overridden in self.columns... Skipping default assignment.
Database column, sedid_disk, overridden in self.columns... Skipping default assignment.
Database column, sedid_agn, overridden in self.columns... Skipping default assignment.
Database column, av_b, overridden in self.columns... Skipping default assignment.
Database column, rv_b, overridden in self.columns... Skipping default assignment.
Database column, ext_model_b, overridden in self.columns... Skipping default assignment.
Database column, av_d, overridden in self.columns... Skipping default assignment.
Database column, rv_d, overridden in self.columns... Skipping default assignment.
Database column, ext_model_d, overridden in self.columns... Skipping default assignment.
Database column, glon, overridden in self.columns... Skipping default assignment.
Database column, glat, overridden in self.columns... Skipping default assignment.
Database column, pa_bulge, overridden in self.columns... Skipping default assignment.
Database column, pa_disk, overridden in self.columns... Skipping default assignment.
Database column, inc_bulge_deg, overridden in self.columns... Skipping default assignment.
Database column, inc_disk_deg, overridden in self.columns... Skipping default assignment.
Database column, a_b, overridden in self.columns... Skipping default assignment.
Database column, b_b, overridden in self.columns... Skipping default assignment.
Database column, bulge_n, overridden in self.columns... Skipping default assignment.
Database column, bra, overridden in self.columns... Skipping default assignment.
Database column, bdec, overridden in self.columns... Skipping default assignment.
Database column, a_d, overridden in self.columns... Skipping default assignment.
Database column, b_d, overridden in self.columns... Skipping default assignment.
Database column, disk_n, overridden in self.columns... Skipping default assignment.
Database column, dra, overridden in self.columns... Skipping default assignment.
Database column, ddec, overridden in self.columns... Skipping default assignment.
Database column, agnra, overridden in self.columns... Skipping default assignment.
Database column, agndec, overridden in self.columns... Skipping default assignment.
Database column, versionid, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_bulge, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_agn, overridden in self.columns... Skipping default assignment.
Database column, absmag_r_total, overridden in self.columns... Skipping default assignment.
Database column, gal_type, overridden in self.columns... Skipping default assignment.
Database column, mass_stellar, overridden in self.columns... Skipping default assignment.
Database column, mass_gas, overridden in self.columns... Skipping default assignment.
Database column, mass_halo, overridden in self.columns... Skipping default assignment.
Database column, ug_total_rest, overridden in self.columns... Skipping default assignment.
Database column, gr_total_rest, overridden in self.columns... Skipping default assignment.
Database column, ri_total_rest, overridden in self.columns... Skipping default assignment.
Database column, iz_total_rest, overridden in self.columns... Skipping default assignment.
Database column, zy_total_rest, overridden in self.columns... Skipping default assignment.
Database column, isagn, overridden in self.columns... Skipping default assignment.
Database column, agn_tau, overridden in self.columns... Skipping default assignment.
Database column, agn_sfu, overridden in self.columns... Skipping default assignment.
Database column, agn_sfg, overridden in self.columns... Skipping default assignment.
Database column, agn_sfr, overridden in self.columns... Skipping default assignment.
Database column, agn_sfi, overridden in self.columns... Skipping default assignment.
Database column, agn_sfz, overridden in self.columns... Skipping default assignment.
Database column, agn_sfy, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_disk, overridden in self.columns... Skipping default assignment.
Database column, magnorm_bulge, overridden in self.columns... Skipping default assignment.
Database column, magnorm_disk, overridden in self.columns... Skipping default assignment.
Database column, magnorm_agn, overridden in self.columns... Skipping default assignment.
Database column, cx, overridden in self.columns... Skipping default assignment.
Database column, cy, overridden in self.columns... Skipping default assignment.
Database column, cz, overridden in self.columns... Skipping default assignment.
Can't create default column for geopoint.  There is no mapping for type NULL.  Modify the dbTypeMap, or make a custom columns list.
Database column, sedname_agn, overridden in self.columns... Skipping default assignment.
Database column, sedname_bulge, overridden in self.columns... Skipping default assignment.
Database column, sedname_disk, overridden in self.columns... Skipping default assignment.
Database column, varsimobjid, overridden in self.columns... Skipping default assignment.
Database column, varParamStr, overridden in self.columns... Skipping default assignment.
Database column, type, overridden in self.columns... Skipping default assignment.
Database column, mass_bulge, overridden in self.columns... Skipping default assignment.
Database column, BulgeMinusDiskLSSTr, overridden in self.columns... Skipping default assignment.
Database column, log10BulgeToTotLSSTrFlux, overridden in self.columns... Skipping default assignment.
Database column, AbsiMag, overridden in self.columns... Skipping default assignment.
Database column, AbsiMag0_1, overridden in self.columns... Skipping default assignment.
Database column, z0_1umg, overridden in self.columns... Skipping default assignment.
Database column, z0_1gmr, overridden in self.columns... Skipping default assignment.
Database column, z0_1rmi, overridden in self.columns... Skipping default assignment.
Database column, z0_1imz, overridden in self.columns... Skipping default assignment.
Database column, z0_1zmy, overridden in self.columns... Skipping default assignment.
Database column, ba_disk, overridden in self.columns... Skipping default assignment.
Database column, ba_bulge, overridden in self.columns... Skipping default assignment.
Database column, DiskHalfLightRadius, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTu, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTg, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTr, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTi, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTz, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTy, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTu, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTg, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTr, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTi, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTz, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTy, overridden in self.columns... Skipping default assignment.
Database column, AGNID, overridden in self.columns... Skipping default assignment.
Database column, BulgeHalfLightRadius, overridden in self.columns... Skipping default assignment.
Database column, t0_agn, overridden in self.columns... Skipping default assignment.
Database column, id, overridden in self.columns... Skipping default assignment.
Database column, myid, overridden in self.columns... Skipping default assignment.

### Off Campus

First you need to establish your ssh tunnel, using local port forwarding switch -L.

ssh -L <local-port-to-listen>:<remote-host>:<remote-port> <ssh server on campus>

For example: 
<code>
$>  ssh -L 5555:fatboy.npl.washington.edu:1433 yusra@gateway.astro.washington.edu
</code>

Your local ssh client will connect to the ssh server running on gateway.astro.washington.edu and bind the local port 1434 to remote port 1433 of fatboy.npl.washington.edu.  
gateway.astro.washington.edu is within the private network and reach the fatboy. 

Now from your local computer, the database looks like it is at localhost:5555

In [11]:
from lsst.sims.catUtils.baseCatalogModels import GalaxyAgnObj
from lsst.sims.utils import ObservationMetaData

obsMetadata = ObservationMetaData(unrefractedRA=45., unrefractedDec=1.0,
                                          boundType='circle', boundLength=0.05,
                                          mjd=57086)

galaxyAgnDB = GalaxyAgnObj(verbose=True, host='localhost', port='5555')

2015-05-04 12:22:19,199 INFO sqlalchemy.engine.base.Engine select @@version

INFO:sqlalchemy.engine.base.Engine:select @@version

2015-05-04 12:22:19,202 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:19,252 INFO sqlalchemy.engine.base.Engine
            SELECT default_schema_name FROM
            sys.database_principals
            WHERE principal_id=database_principal_id()

INFO:sqlalchemy.engine.base.Engine:
            SELECT default_schema_name FROM
            sys.database_principals
            WHERE principal_id=database_principal_id()

2015-05-04 12:22:19,253 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:19,353 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2015-05-04 12:22:19,354 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:19,457 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1

2015-05-04 12:22:19,458 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:19,795 INFO sqlalchemy.engine.base.Engine SELECT [COLUMNS_1].[TABLE_SCHEMA], [COLUMNS_1].[TABLE_NAME], [COLUMNS_1].[COLUMN_NAME], [COLUMNS_1].[IS_NULLABLE], [COLUMNS_1].[DATA_TYPE], [COLUMNS_1].[ORDINAL_POSITION], [COLUMNS_1].[CHARACTER_MAXIMUM_LENGTH], [COLUMNS_1].[NUMERIC_PRECISION], [COLUMNS_1].[NUMERIC_SCALE], [COLUMNS_1].[COLUMN_DEFAULT], [COLUMNS_1].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS] AS [COLUMNS_1]
WHERE [COLUMNS_1].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [COLUMNS_1].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) ORDER BY [COLUMNS_1].[ORDINAL_POSITION]

INFO:sqlalchemy.engine.base.Engine:SELECT [COLUMNS_1].[TABLE_SCHEMA], [COLUMNS_1].[TABLE_NAME], [COLUMNS_1].[COLUMN_NAME], [COLUMNS_1].[IS_NULLABLE], [COLUMNS_1].[DATA_TYPE], [COLUMNS_1].[ORDINAL_POSITION], [COLUMNS_1].[CHARACTER_MAXIMUM_LENGTH], [COLUMNS_1].[NUMERIC_PRECISION], [COLUMNS_1].[NUMERIC_SCALE], [COLUMNS_1].[COLUMN_DEFAULT], [COLUMNS_1].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS] AS [COLUMNS_1]
WHERE [COLUMNS_1].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [COLUMNS_1].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) ORDER BY [COLUMNS_1].[ORDINAL_POSITION]

2015-05-04 12:22:19,796 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:22:19,891 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = 'galaxy', @table_owner = 'dbo'

INFO:sqlalchemy.engine.base.Engine:sp_columns @table_name = 'galaxy', @table_owner = 'dbo'

2015-05-04 12:22:19,892 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:20,024 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [TABLE_CONSTRAINTS_1].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS] AS [TABLE_CONSTRAINTS_1]
WHERE [TABLE_CONSTRAINTS_1].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [TABLE_CONSTRAINTS_1].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max))

INFO:sqlalchemy.engine.base.Engine:SELECT [C].[COLUMN_NAME], [TABLE_CONSTRAINTS_1].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS] AS [TABLE_CONSTRAINTS_1]
WHERE [TABLE_CONSTRAINTS_1].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [TABLE_CONSTRAINTS_1].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max))

2015-05-04 12:22:20,026 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:22:20,139 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [REFERENTIAL_CONSTRAINTS_1].[MATCH_OPTION], [REFERENTIAL_CONSTRAINTS_1].[UPDATE_RULE], [REFERENTIAL_CONSTRAINTS_1].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS] AS [REFERENTIAL_CONSTRAINTS_1]
WHERE [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) AND [C].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[UNIQUE_CONSTRAINT_NAME] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]

INFO:sqlalchemy.engine.base.Engine:SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [REFERENTIAL_CONSTRAINTS_1].[MATCH_OPTION], [REFERENTIAL_CONSTRAINTS_1].[UPDATE_RULE], [REFERENTIAL_CONSTRAINTS_1].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS] AS [REFERENTIAL_CONSTRAINTS_1]
WHERE [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) AND [C].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[UNIQUE_CONSTRAINT_NAME] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]

2015-05-04 12:22:20,141 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:22:20,218 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = %(tabname)s and sch.name=%(schname)s and ind.is_primary_key=0

INFO:sqlalchemy.engine.base.Engine:select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = %(tabname)s and sch.name=%(schname)s and ind.is_primary_key=0

2015-05-04 12:22:20,220 INFO sqlalchemy.engine.base.Engine {'tabname': 'galaxy', 'schname': u'dbo'}

INFO:sqlalchemy.engine.base.Engine:{'tabname': 'galaxy', 'schname': u'dbo'}

2015-05-04 12:22:20,279 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=%(tabname)s and sch.name=%(schname)s

INFO:sqlalchemy.engine.base.Engine:select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=%(tabname)s and sch.name=%(schname)s

2015-05-04 12:22:20,282 INFO sqlalchemy.engine.base.Engine {'tabname': 'galaxy', 'schname': u'dbo'}

INFO:sqlalchemy.engine.base.Engine:{'tabname': 'galaxy', 'schname': u'dbo'}
Database column, htmid, overridden in self.columns... Skipping default assignment.
Database column, galid, overridden in self.columns... Skipping default assignment.
Database column, ra, overridden in self.columns... Skipping default assignment.
Database column, dec, overridden in self.columns... Skipping default assignment.
Database column, redshift, overridden in self.columns... Skipping default assignment.
Database column, rad_vel, overridden in self.columns... Skipping default assignment.
Database column, u_ab, overridden in self.columns... Skipping default assignment.
Database column, g_ab, overridden in self.columns... Skipping default assignment.
Database column, r_ab, overridden in self.columns... Skipping default assignment.
Database column, i_ab, overridden in self.columns... Skipping default assignment.
Database column, z_ab, overridden in self.columns... Skipping default assignment.
Database column, y_ab, overridden in self.columns... Skipping default assignment.
Database column, sedid_bulge, overridden in self.columns... Skipping default assignment.
Database column, sedid_disk, overridden in self.columns... Skipping default assignment.
Database column, sedid_agn, overridden in self.columns... Skipping default assignment.
Database column, av_b, overridden in self.columns... Skipping default assignment.
Database column, rv_b, overridden in self.columns... Skipping default assignment.
Database column, ext_model_b, overridden in self.columns... Skipping default assignment.
Database column, av_d, overridden in self.columns... Skipping default assignment.
Database column, rv_d, overridden in self.columns... Skipping default assignment.
Database column, ext_model_d, overridden in self.columns... Skipping default assignment.
Database column, glon, overridden in self.columns... Skipping default assignment.
Database column, glat, overridden in self.columns... Skipping default assignment.
Database column, pa_bulge, overridden in self.columns... Skipping default assignment.
Database column, pa_disk, overridden in self.columns... Skipping default assignment.
Database column, inc_bulge_deg, overridden in self.columns... Skipping default assignment.
Database column, inc_disk_deg, overridden in self.columns... Skipping default assignment.
Database column, a_b, overridden in self.columns... Skipping default assignment.
Database column, b_b, overridden in self.columns... Skipping default assignment.
Database column, bulge_n, overridden in self.columns... Skipping default assignment.
Database column, bra, overridden in self.columns... Skipping default assignment.
Database column, bdec, overridden in self.columns... Skipping default assignment.
Database column, a_d, overridden in self.columns... Skipping default assignment.
Database column, b_d, overridden in self.columns... Skipping default assignment.
Database column, disk_n, overridden in self.columns... Skipping default assignment.
Database column, dra, overridden in self.columns... Skipping default assignment.
Database column, ddec, overridden in self.columns... Skipping default assignment.
Database column, agnra, overridden in self.columns... Skipping default assignment.
Database column, agndec, overridden in self.columns... Skipping default assignment.
Database column, versionid, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_bulge, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_agn, overridden in self.columns... Skipping default assignment.
Database column, absmag_r_total, overridden in self.columns... Skipping default assignment.
Database column, gal_type, overridden in self.columns... Skipping default assignment.
Database column, mass_stellar, overridden in self.columns... Skipping default assignment.
Database column, mass_gas, overridden in self.columns... Skipping default assignment.
Database column, mass_halo, overridden in self.columns... Skipping default assignment.
Database column, ug_total_rest, overridden in self.columns... Skipping default assignment.
Database column, gr_total_rest, overridden in self.columns... Skipping default assignment.
Database column, ri_total_rest, overridden in self.columns... Skipping default assignment.
Database column, iz_total_rest, overridden in self.columns... Skipping default assignment.
Database column, zy_total_rest, overridden in self.columns... Skipping default assignment.
Database column, isagn, overridden in self.columns... Skipping default assignment.
Database column, agn_tau, overridden in self.columns... Skipping default assignment.
Database column, agn_sfu, overridden in self.columns... Skipping default assignment.
Database column, agn_sfg, overridden in self.columns... Skipping default assignment.
Database column, agn_sfr, overridden in self.columns... Skipping default assignment.
Database column, agn_sfi, overridden in self.columns... Skipping default assignment.
Database column, agn_sfz, overridden in self.columns... Skipping default assignment.
Database column, agn_sfy, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_disk, overridden in self.columns... Skipping default assignment.
Database column, magnorm_bulge, overridden in self.columns... Skipping default assignment.
Database column, magnorm_disk, overridden in self.columns... Skipping default assignment.
Database column, magnorm_agn, overridden in self.columns... Skipping default assignment.
Database column, cx, overridden in self.columns... Skipping default assignment.
Database column, cy, overridden in self.columns... Skipping default assignment.
Database column, cz, overridden in self.columns... Skipping default assignment.
Can't create default column for geopoint.  There is no mapping for type NULL.  Modify the dbTypeMap, or make a custom columns list.
Database column, sedname_agn, overridden in self.columns... Skipping default assignment.
Database column, sedname_bulge, overridden in self.columns... Skipping default assignment.
Database column, sedname_disk, overridden in self.columns... Skipping default assignment.
Database column, varsimobjid, overridden in self.columns... Skipping default assignment.
Database column, varParamStr, overridden in self.columns... Skipping default assignment.
Database column, type, overridden in self.columns... Skipping default assignment.
Database column, mass_bulge, overridden in self.columns... Skipping default assignment.
Database column, BulgeMinusDiskLSSTr, overridden in self.columns... Skipping default assignment.
Database column, log10BulgeToTotLSSTrFlux, overridden in self.columns... Skipping default assignment.
Database column, AbsiMag, overridden in self.columns... Skipping default assignment.
Database column, AbsiMag0_1, overridden in self.columns... Skipping default assignment.
Database column, z0_1umg, overridden in self.columns... Skipping default assignment.
Database column, z0_1gmr, overridden in self.columns... Skipping default assignment.
Database column, z0_1rmi, overridden in self.columns... Skipping default assignment.
Database column, z0_1imz, overridden in self.columns... Skipping default assignment.
Database column, z0_1zmy, overridden in self.columns... Skipping default assignment.
Database column, ba_disk, overridden in self.columns... Skipping default assignment.
Database column, ba_bulge, overridden in self.columns... Skipping default assignment.
Database column, DiskHalfLightRadius, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTu, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTg, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTr, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTi, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTz, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTy, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTu, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTg, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTr, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTi, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTz, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTy, overridden in self.columns... Skipping default assignment.
Database column, AGNID, overridden in self.columns... Skipping default assignment.
Database column, BulgeHalfLightRadius, overridden in self.columns... Skipping default assignment.
Database column, t0_agn, overridden in self.columns... Skipping default assignment.
Database column, id, overridden in self.columns... Skipping default assignment.
Database column, myid, overridden in self.columns... Skipping default assignment.

### Changing the default database in sims_catUtils

in tickets/SIM-1092
edit the file: $SIMS_CATUTILS_DIR/policy/db.paf

$> cat $SIMS_CATUTILS_DIR/policy/db.paf
host: 'fatboy.npl.washington.edu'
port: '1433'
database: 'LSST'
driver: 'mssql+pymssql'

after change:

$> cat $SIMS_CATUTILS_DIR/policy/db.paf
host: 'localhost'
port: '5555'
database: 'LSST'
driver: 'mssql+pymssql'

Now you can run demo again without specifying the host and port when instantiating.

In [12]:
galaxyAgnDB = GalaxyAgnObj(verbose=True)

2015-05-04 12:22:32,863 INFO sqlalchemy.engine.base.Engine select @@version

INFO:sqlalchemy.engine.base.Engine:select @@version

2015-05-04 12:22:32,865 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:32,914 INFO sqlalchemy.engine.base.Engine
            SELECT default_schema_name FROM
            sys.database_principals
            WHERE principal_id=database_principal_id()

INFO:sqlalchemy.engine.base.Engine:
            SELECT default_schema_name FROM
            sys.database_principals
            WHERE principal_id=database_principal_id()

2015-05-04 12:22:32,915 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:33,011 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2015-05-04 12:22:33,013 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:33,132 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1

2015-05-04 12:22:33,133 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:33,472 INFO sqlalchemy.engine.base.Engine SELECT [COLUMNS_1].[TABLE_SCHEMA], [COLUMNS_1].[TABLE_NAME], [COLUMNS_1].[COLUMN_NAME], [COLUMNS_1].[IS_NULLABLE], [COLUMNS_1].[DATA_TYPE], [COLUMNS_1].[ORDINAL_POSITION], [COLUMNS_1].[CHARACTER_MAXIMUM_LENGTH], [COLUMNS_1].[NUMERIC_PRECISION], [COLUMNS_1].[NUMERIC_SCALE], [COLUMNS_1].[COLUMN_DEFAULT], [COLUMNS_1].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS] AS [COLUMNS_1]
WHERE [COLUMNS_1].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [COLUMNS_1].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) ORDER BY [COLUMNS_1].[ORDINAL_POSITION]

INFO:sqlalchemy.engine.base.Engine:SELECT [COLUMNS_1].[TABLE_SCHEMA], [COLUMNS_1].[TABLE_NAME], [COLUMNS_1].[COLUMN_NAME], [COLUMNS_1].[IS_NULLABLE], [COLUMNS_1].[DATA_TYPE], [COLUMNS_1].[ORDINAL_POSITION], [COLUMNS_1].[CHARACTER_MAXIMUM_LENGTH], [COLUMNS_1].[NUMERIC_PRECISION], [COLUMNS_1].[NUMERIC_SCALE], [COLUMNS_1].[COLUMN_DEFAULT], [COLUMNS_1].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS] AS [COLUMNS_1]
WHERE [COLUMNS_1].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [COLUMNS_1].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) ORDER BY [COLUMNS_1].[ORDINAL_POSITION]

2015-05-04 12:22:33,473 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:22:33,577 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = 'galaxy', @table_owner = 'dbo'

INFO:sqlalchemy.engine.base.Engine:sp_columns @table_name = 'galaxy', @table_owner = 'dbo'

2015-05-04 12:22:33,578 INFO sqlalchemy.engine.base.Engine {}

INFO:sqlalchemy.engine.base.Engine:{}

2015-05-04 12:22:33,687 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [TABLE_CONSTRAINTS_1].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS] AS [TABLE_CONSTRAINTS_1]
WHERE [TABLE_CONSTRAINTS_1].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [TABLE_CONSTRAINTS_1].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max))

INFO:sqlalchemy.engine.base.Engine:SELECT [C].[COLUMN_NAME], [TABLE_CONSTRAINTS_1].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS] AS [TABLE_CONSTRAINTS_1]
WHERE [TABLE_CONSTRAINTS_1].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [TABLE_CONSTRAINTS_1].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max))

2015-05-04 12:22:33,691 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:22:33,800 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [REFERENTIAL_CONSTRAINTS_1].[MATCH_OPTION], [REFERENTIAL_CONSTRAINTS_1].[UPDATE_RULE], [REFERENTIAL_CONSTRAINTS_1].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS] AS [REFERENTIAL_CONSTRAINTS_1]
WHERE [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) AND [C].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[UNIQUE_CONSTRAINT_NAME] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]

INFO:sqlalchemy.engine.base.Engine:SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [REFERENTIAL_CONSTRAINTS_1].[MATCH_OPTION], [REFERENTIAL_CONSTRAINTS_1].[UPDATE_RULE], [REFERENTIAL_CONSTRAINTS_1].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS] AS [REFERENTIAL_CONSTRAINTS_1]
WHERE [C].[TABLE_NAME] = CAST(%(TABLE_NAME_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(TABLE_SCHEMA_1)s AS NVARCHAR(max)) AND [C].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [REFERENTIAL_CONSTRAINTS_1].[UNIQUE_CONSTRAINT_NAME] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [REFERENTIAL_CONSTRAINTS_1].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]

2015-05-04 12:22:33,801 INFO sqlalchemy.engine.base.Engine {'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

INFO:sqlalchemy.engine.base.Engine:{'TABLE_SCHEMA_1': u'dbo', 'TABLE_NAME_1': 'galaxy'}

2015-05-04 12:22:33,878 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = %(tabname)s and sch.name=%(schname)s and ind.is_primary_key=0

INFO:sqlalchemy.engine.base.Engine:select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = %(tabname)s and sch.name=%(schname)s and ind.is_primary_key=0

2015-05-04 12:22:33,879 INFO sqlalchemy.engine.base.Engine {'tabname': 'galaxy', 'schname': u'dbo'}

INFO:sqlalchemy.engine.base.Engine:{'tabname': 'galaxy', 'schname': u'dbo'}

2015-05-04 12:22:33,938 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=%(tabname)s and sch.name=%(schname)s

INFO:sqlalchemy.engine.base.Engine:select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=%(tabname)s and sch.name=%(schname)s

2015-05-04 12:22:33,939 INFO sqlalchemy.engine.base.Engine {'tabname': 'galaxy', 'schname': u'dbo'}

INFO:sqlalchemy.engine.base.Engine:{'tabname': 'galaxy', 'schname': u'dbo'}
Database column, htmid, overridden in self.columns... Skipping default assignment.
Database column, galid, overridden in self.columns... Skipping default assignment.
Database column, ra, overridden in self.columns... Skipping default assignment.
Database column, dec, overridden in self.columns... Skipping default assignment.
Database column, redshift, overridden in self.columns... Skipping default assignment.
Database column, rad_vel, overridden in self.columns... Skipping default assignment.
Database column, u_ab, overridden in self.columns... Skipping default assignment.
Database column, g_ab, overridden in self.columns... Skipping default assignment.
Database column, r_ab, overridden in self.columns... Skipping default assignment.
Database column, i_ab, overridden in self.columns... Skipping default assignment.
Database column, z_ab, overridden in self.columns... Skipping default assignment.
Database column, y_ab, overridden in self.columns... Skipping default assignment.
Database column, sedid_bulge, overridden in self.columns... Skipping default assignment.
Database column, sedid_disk, overridden in self.columns... Skipping default assignment.
Database column, sedid_agn, overridden in self.columns... Skipping default assignment.
Database column, av_b, overridden in self.columns... Skipping default assignment.
Database column, rv_b, overridden in self.columns... Skipping default assignment.
Database column, ext_model_b, overridden in self.columns... Skipping default assignment.
Database column, av_d, overridden in self.columns... Skipping default assignment.
Database column, rv_d, overridden in self.columns... Skipping default assignment.
Database column, ext_model_d, overridden in self.columns... Skipping default assignment.
Database column, glon, overridden in self.columns... Skipping default assignment.
Database column, glat, overridden in self.columns... Skipping default assignment.
Database column, pa_bulge, overridden in self.columns... Skipping default assignment.
Database column, pa_disk, overridden in self.columns... Skipping default assignment.
Database column, inc_bulge_deg, overridden in self.columns... Skipping default assignment.
Database column, inc_disk_deg, overridden in self.columns... Skipping default assignment.
Database column, a_b, overridden in self.columns... Skipping default assignment.
Database column, b_b, overridden in self.columns... Skipping default assignment.
Database column, bulge_n, overridden in self.columns... Skipping default assignment.
Database column, bra, overridden in self.columns... Skipping default assignment.
Database column, bdec, overridden in self.columns... Skipping default assignment.
Database column, a_d, overridden in self.columns... Skipping default assignment.
Database column, b_d, overridden in self.columns... Skipping default assignment.
Database column, disk_n, overridden in self.columns... Skipping default assignment.
Database column, dra, overridden in self.columns... Skipping default assignment.
Database column, ddec, overridden in self.columns... Skipping default assignment.
Database column, agnra, overridden in self.columns... Skipping default assignment.
Database column, agndec, overridden in self.columns... Skipping default assignment.
Database column, versionid, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_bulge, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_agn, overridden in self.columns... Skipping default assignment.
Database column, absmag_r_total, overridden in self.columns... Skipping default assignment.
Database column, gal_type, overridden in self.columns... Skipping default assignment.
Database column, mass_stellar, overridden in self.columns... Skipping default assignment.
Database column, mass_gas, overridden in self.columns... Skipping default assignment.
Database column, mass_halo, overridden in self.columns... Skipping default assignment.
Database column, ug_total_rest, overridden in self.columns... Skipping default assignment.
Database column, gr_total_rest, overridden in self.columns... Skipping default assignment.
Database column, ri_total_rest, overridden in self.columns... Skipping default assignment.
Database column, iz_total_rest, overridden in self.columns... Skipping default assignment.
Database column, zy_total_rest, overridden in self.columns... Skipping default assignment.
Database column, isagn, overridden in self.columns... Skipping default assignment.
Database column, agn_tau, overridden in self.columns... Skipping default assignment.
Database column, agn_sfu, overridden in self.columns... Skipping default assignment.
Database column, agn_sfg, overridden in self.columns... Skipping default assignment.
Database column, agn_sfr, overridden in self.columns... Skipping default assignment.
Database column, agn_sfi, overridden in self.columns... Skipping default assignment.
Database column, agn_sfz, overridden in self.columns... Skipping default assignment.
Database column, agn_sfy, overridden in self.columns... Skipping default assignment.
Database column, fluxnorm_disk, overridden in self.columns... Skipping default assignment.
Database column, magnorm_bulge, overridden in self.columns... Skipping default assignment.
Database column, magnorm_disk, overridden in self.columns... Skipping default assignment.
Database column, magnorm_agn, overridden in self.columns... Skipping default assignment.
Database column, cx, overridden in self.columns... Skipping default assignment.
Database column, cy, overridden in self.columns... Skipping default assignment.
Database column, cz, overridden in self.columns... Skipping default assignment.
Can't create default column for geopoint.  There is no mapping for type NULL.  Modify the dbTypeMap, or make a custom columns list.
Database column, sedname_agn, overridden in self.columns... Skipping default assignment.
Database column, sedname_bulge, overridden in self.columns... Skipping default assignment.
Database column, sedname_disk, overridden in self.columns... Skipping default assignment.
Database column, varsimobjid, overridden in self.columns... Skipping default assignment.
Database column, varParamStr, overridden in self.columns... Skipping default assignment.
Database column, type, overridden in self.columns... Skipping default assignment.
Database column, mass_bulge, overridden in self.columns... Skipping default assignment.
Database column, BulgeMinusDiskLSSTr, overridden in self.columns... Skipping default assignment.
Database column, log10BulgeToTotLSSTrFlux, overridden in self.columns... Skipping default assignment.
Database column, AbsiMag, overridden in self.columns... Skipping default assignment.
Database column, AbsiMag0_1, overridden in self.columns... Skipping default assignment.
Database column, z0_1umg, overridden in self.columns... Skipping default assignment.
Database column, z0_1gmr, overridden in self.columns... Skipping default assignment.
Database column, z0_1rmi, overridden in self.columns... Skipping default assignment.
Database column, z0_1imz, overridden in self.columns... Skipping default assignment.
Database column, z0_1zmy, overridden in self.columns... Skipping default assignment.
Database column, ba_disk, overridden in self.columns... Skipping default assignment.
Database column, ba_bulge, overridden in self.columns... Skipping default assignment.
Database column, DiskHalfLightRadius, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTu, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTg, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTr, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTi, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTz, overridden in self.columns... Skipping default assignment.
Database column, DiskLSSTy, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTu, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTg, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTr, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTi, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTz, overridden in self.columns... Skipping default assignment.
Database column, BulgeLSSTy, overridden in self.columns... Skipping default assignment.
Database column, AGNID, overridden in self.columns... Skipping default assignment.
Database column, BulgeHalfLightRadius, overridden in self.columns... Skipping default assignment.
Database column, t0_agn, overridden in self.columns... Skipping default assignment.
Database column, id, overridden in self.columns... Skipping default assignment.
Database column, myid, overridden in self.columns... Skipping default assignment.

## What if I don't have a UW NetId?

We are now maintaining a shared UW NETID "**simsuser**" for our collaborators port forward using gateway.astro.washington.edu. The preferred protocol now to send us your public ssh key. 

Once we add it, You can now access our database from *anywhere* like:

ssh -L 5555:fatboy.npl.washington.edu:1433 simsuser@gateway.astro.washington.edu

# Going Forward

* Simon had the interesting idea of maintaining a lsst github repo and using a deployment service to update the ssh keys in simsusers home directory. People already have to ask Frossie/Michael for push permissions to our lsst repos. 



* We can initialize the ssh tunnel through python in sims_catUtils.
    - add new third party package paramiko?
    - write our own utility?